:root{
  font-family: Outfit;
  --font-weight-400 : 400; 
  --font-weight-700: 700; 
  --col-white : hsl(0, 0%, 100%);  
  --col-lightgray : hsl(212, 45%, 89%); 
  --col-grayishblue: hsl(220, 15%, 55%); 
  --col-darkblue: hsl(218, 44%, 22%); 
  --font-size-paragraph: 15px; 
}

body{
  background-color: var(--col-lightgray);
}

.app{
  min-height: 100vh;
  padding: 2em;
}


.card{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15vh;
  max-width: fit-content;
  align-items: center;
  padding: 1em;
  background-color: var(--col-white);
  border-radius: 10px 10px;
}

.qr-code-wrap{
  max-width: 300px;
}

.qr-code-image{
  border-radius: 10px 10px;
}

.qr-code-text{
  padding: 2em 1em 2em 1em;
  text-align: center;  
  color: var(--col-darkblue);
}

.qr-code-text .header{
  font-weight: var(--font-weight-700);
  font-size: 1.25rem;
  padding-bottom: 0.5em;
}

.qr-code-text .subtext{
  font-weight: var(--font-weight-400);
  color: var(--col-grayishblue);
  font-size: var(--font-size-paragraph);
}






/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
